* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  background-color: white;
}

.nav-link {
  color: #E83B5B !important;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.60);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: #383f3e !important;
  border-bottom:0.25rem solid #E83B5B;
}



h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.link-servicios:hover {
  text-decoration: none;
}

.caja-titulo {
  padding: 6rem 0 3rem;
}

.caja-padding-bottom {
  padding-bottom: 6rem;
}

.bg-uno{
  background-color: #5E2D4E;
}
.bg-dos{
  background-color: #f7f7f7;
}
/*hero*/
.bg-pink {
  background: rgb(231,58,90);
  background: linear-gradient(90deg, rgba(231,58,90,1) 0%, rgba(183,33,70,1) 100%);
}

.padding-hero {
  padding-top: 9rem;
  padding-bottom: 6rem;

}

.img-hero {
  padding: 2rem 0;
}

.txt-hero {
  /*color: #454545;*/
  line-height: 1.8;
}

p {
  font-family:'Montserrat', sans-serif;
  font-size: 1.25rem;
 color: #6a6a6a;
}

/*sección nosotros*/
.tt-color{
  color:#5E2D4E;
}
.padding-top-btm{
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.img-nosotros {
  width: 500px;

}

.caja-titulo-2 {
  padding: 4rem 0 3rem;
}

.texto-nosotros {
  text-align: justify;
  font-family:'Montserrat', sans-serif;
  line-height: 1.8;
}

/*sección myv*/
.caja-2 {
  padding: 6rem 0 6rem;
}

.card-text {
  font-family:'Montserrat', sans-serif;
  padding: 1rem 0.5rem 2rem;
  text-align: center;
  line-height: 1.6;
}

.subtittle {
  padding-top: 2rem;
 /* color:  #1D1DB3;*/
 font-family: 'Lato', sans-serif;
}

/*sección servicios*/

h1.titulo {
 font-family: 'Lato', sans-serif;
 font-size: 3rem;
  padding: 2rem 0 2rem;
  font-weight: 600;
}

.title-servicios {
  font-family: 'Lato', sans-serif;
  padding: 2rem;
  /* color:  #1D1DB3; */
  color: black;
  
}

.img-servicios{
  width: 400px;
 
}
.txt-servicios{
  line-height: 1.6;
}
/*sección contacto*/

hr {
  margin-top: 0 !important;
  margin: 0 !important;
  border-top: 6px solid #E83B5B !important;
}

.padding-extra {
  padding-top: 3rem;
}

.padding-btm {
  padding-bottom: 2rem;
}

.img-ejemplo {
  padding: 1rem;
}
.bg-black{
  background-color: #404040;
}
.mapa{
  padding: 2rem 0;
}
/*form*/
form{
  width:auto;
  border:none;
  margin: 0 10%;
}

.btn-enviar{
  background-color:#E83B5B!important;
  width: 250px;
  border-color: #E83B5B!important;
}

.form-control{
  border-radius: 1rem!important;
  border: 1px solid #E83B5B!important;
}

/*media queries*/

@media (max-width: 576px) {

  .img-nosotros {
    max-width: 345px;
    margin: auto;

  }
}